# Ignore everything except .cc and .h files (excluding main.cc)

*

!../dynamicArray/*.cc
!dynamicArray/*.h

!linkedList/*.cc
!linkedList/*.h

!queue/*.cc
!queue/*.h

!stack/*.cc
!stack/*.h

*/main.cc